# Track CS Match Predict notebook, ignore generated outputs
CS Match Predict/*.png
CS Match Predict/*_executed.ipynb
.ipynb_checkpoints/
# Ignore Final term project folder
期末作业/
# Ignore .vscode
.vscode/
# Ignore PycharmHome
PyCharmHome/

